extends ../layout/index

block vars
  - var pageTitle='Iniciar sesión'

block content
  +title(pageTitle)

  div(class="mt-8 mx-auto max-w-sm")
    div(class="bg-white p-8 shadow")
      if flashes['registered user']
        +alert(flashes['registered user'], 'Te hemos enviado instrucciones para verificar tu correo.')
      if flashes['unverified email']
        +alert(flashes['unverified email'], 'Tu correo electrónico aún no ha sido verificado.', 'danger')

      form(class="flex flex-col gap-y-5" method='POST' action='/auth/login' noValidate)
        +csrf
        div
          +input('email')(type="email" placeholder="Correo electrónico")
        div
          +input('password')(type="password" placeholder="Contraseña")(value="")
        div
          +submit('Iniciar sessión')(class="w-full")
        div(class="text-sm text-center")
          +link('/auth/request-recover', '¿Olvidaste tu contraseña?')

    div(class="bg-white mt-4 py-4 shadow text-center text-sm")
      p ¿No tienes una cuenta? #{' '}
        +link('/auth/signup', 'Regístrate')
