extends ../layout
include _mixins

block vars
  - var pageTitle='Crea una contrase単a nueva'

block content
  div(class="py-10")
    +header(pageTitle)

    div(class="mt-8 mx-auto max-w-sm")
      div(class="bg-white py-8 px-8 shadow")
        form(method='POST' noValidate)
          +csrf
          div(class="mb-5")
            +input('password')(type="password" placeholder="Contrase単a nueva" value= old('password'))
            +error('password')
          div(class="mb-5")
            +input('confirmPassword')(type="password" placeholder="Repetir contrase単a nueva" value= old('confirmPassword'))
            +error('confirmPassword')
          div
            +submit('Restablecer contrase単a')
