div(style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;")
  p Hola, #{name}:

  p Te enviamos este mensaje porque hemos recibido una solicitud para restablecer la contraseña de tu cuenta.

  p(style="margin: 32px 0;")
    a(
      href= url
      style="font-family: sans-serif; padding: 10px 32px; background-color: rgb(79 70 229); text-decoration: none; color: white;"
      target="_blank"
    ) Restablecer contraseña

  p Si no solicitaste restablecer tu contraseña, ignora este mensaje.

