p(style="font-family: sans-serif;") Hola, #{name}:

p(style="font-family: sans-serif;")
  | Haz clic en el botón de abajo para restablecer tu contraseña

p(style="margin-top: 32px;")
  a(
    href= url
    style="font-family: sans-serif; padding: 10px 32px; background-color: rgb(79 70 229); text-decoration: none; color: white;"
  ) Restablecer contraseña
