extends ../layout

block vars
  - var pageTitle='Acceso prohibido'

block content
  div(class="pt-20 text-center")
    p(class="font-bold text-slate-800 text-xl")= pageTitle
    p(class="mt-4 text-slate-700")
      | El acceso al recurso solicitado está prohibido
    a(class="block mt-8 text-indigo-700" href="/")
      | Ir a la página de inicio
