extends ../layout/index

block vars
  - var pageTitle = "Página no disponible"

block content
  div(class="pt-20 text-center")
    p(class="text-xl font-bold text-slate-800")
      | Esta página no está disponible
    p(class="my-4 text-slate-700")
      | Es posible que el enlace que seleccionaste esté roto o que se haya eliminado la página.
    +link('/', `Volver a ${APP_NAME}`)
