extends ../layout

block vars
  - var title='Página no disponible'

block content
  div(class="pt-20 text-center")
    p(class="font-bold text-slate-800 text-xl")
      | Esta página no está disponible
    p(class="mt-4 text-slate-700")
      | Es posible que el enlace que seleccionaste esté roto o que se haya eliminado la página.
    a(class="block mt-8 text-indigo-700" href="/")
      | Ir a la página de inicio
